In [2]:
for val in "stringexample":
    if val== 'i':
        continue
    else:
        if val=='x':
            break
        print(val)
    print(val)
print("The End")

s
s
t
t
r
r
n
n
g
g
e
e
The End

In [10]:
{x: x**2 for x in range(20)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361}

In [21]:
def result(name, test1, test2 ):
    marks = test1 + test2
    print ("Congratulations!", name, ",You have got ", marks, "marks")

In [22]:
result('Nitin', 55, 41)

Congratulations! Nitin ,You have got  96 marks

In [1]:
numbers = [20, 30, 40, 50, 60, 70]

sum = 0

for val in numbers:
    sum = sum + val
    print(sum)
    
print('The sum is ', sum)

20
50
90
140
200
270
The sum is  270

In [3]:
numbers1 = [2, 4, 5, 6, 7, 8]

mul = 1

for val in numbers1:
    mul = mul * val
    print(mul)
    
print('The multiplication of numbers are: ', mul)

2
8
40
240
1680
13440
The multiplication of numbers are:  13440

In [16]:
num = int(input("Please Enter number:\t"))

fact =1

for i in range(1, num+1):
    
    fact = fact*i
    
print('The factorial of given number is', fact)

Please Enter number:	6
The factorial of given number is 720

In [26]:
num1= int(input('Please Enter first number:\t'))
num2= int(input('Please Enter second number:\t'))

if (num1==num2):
    print("Both numbers are equal")
elif (num1>num2):
    print("The Greater number is", num1)
else:
    print("The Greater number is", num2)

Please Enter first number:	13
Please Enter second number:	13
Both numbers are equal

In [55]:
num1= int(input('Please Enter first number:\t'))
num2= int(input('Please Enter second number:\t'))
num3= int(input('Please Enter Third number:\t'))

if (num1==num2==num3):
    print("All numbers are equal")
elif (num1>num2) and (num1>num3):
        print("The Greater number is", num1)
elif(num2>num3) and (num2>num1):
    print("The Greater number is", num2)
else:
    print("The Greater number is", num3)

Please Enter first number:	13
Please Enter second number:	25
Please Enter Third number:	63
The Greater number is 63

In [64]:
num1= int(input('Please Enter number which you want table:\t'))

table = 1

for i in range(1,11):
    table = num1*i
    print(num1, '*', i ,"=" ,table)

Please Enter number which you want table:	19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [66]:
num1= int(input('Please Enter number which you want square:\t'))

square = 1

square = num1 * num1
print('The square of a number is', square)

Please Enter number which you want square:	6
The square of a number is 36

In [ ]:
name = 'My name is Khan'

reverse = name.reverse